In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pp
%matplotlib inline

In [2]:
data = pd.Series([2.5,1.2,6.0,3.333,123])

In [3]:
data

0      2.500
1      1.200
2      6.000
3      3.333
4    123.000
dtype: float64

In [4]:
data.values

array([   2.5  ,    1.2  ,    6.   ,    3.333,  123.   ])

In [5]:
population_dict = {'California': 38332521,
                             'Texas': 26448193,
                             'New York': 19651127,
                             'Florida': 19552860,
                             'Illinois': 12882135}

In [6]:
population = pd.Series(population_dict)

In [7]:
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [8]:
population['California']

38332521

In [9]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
               'Florida': 170312, 'Illinois': 149995}

In [10]:
area_dict

{'California': 423967,
 'Florida': 170312,
 'Illinois': 149995,
 'New York': 141297,
 'Texas': 695662}

In [11]:
area = pd.Series(area_dict)

In [12]:
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [13]:
states = pd.DataFrame({"population" : population,
             "area": area})

In [14]:
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [15]:
data = states

In [16]:
data

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [17]:
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [18]:
data.area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [19]:
data.area == data['area']

California    True
Florida       True
Illinois      True
New York      True
Texas         True
Name: area, dtype: bool

In [20]:
data.area is data['area']

True

In [22]:
data['density'] = data['population'] / data['area']

In [23]:
data

              area  population     density
California  423967    38332521   90.413926
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763
New York    141297    19651127  139.076746
Texas       695662    26448193   38.018740

In [24]:
data.values

array([[  4.23967000e+05,   3.83325210e+07,   9.04139261e+01],
       [  1.70312000e+05,   1.95528600e+07,   1.14806121e+02],
       [  1.49995000e+05,   1.28821350e+07,   8.58837628e+01],
       [  1.41297000e+05,   1.96511270e+07,   1.39076746e+02],
       [  6.95662000e+05,   2.64481930e+07,   3.80187404e+01]])

In [25]:
data.T

,California,Florida,Illinois,New York,Texas
area,4.239670e+05,1.703120e+05,1.499950e+05,1.412970e+05,6.956620e+05
population,3.833252e+07,1.955286e+07,1.288214e+07,1.965113e+07,2.644819e+07
density,9.041393e+01,1.148061e+02,8.588376e+01,1.390767e+02,3.801874e+01

In [26]:
data.loc?

In [27]:
data.loc[data.density > 100]

            area  population     density
Florida   170312    19552860  114.806121
New York  141297    19651127  139.076746

In [28]:
data.loc[data.density > 100 , ["population","density"]]

          population     density
Florida     19552860  114.806121
New York    19651127  139.076746